{% extends  'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}

    {% include "includes/navbar.html" %}

        <h1> Авторизоваться </h1>
        <form method="post">

            <hr class="mt-0 mb-4">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">

            {{ form|crispy }}

            <button type="submit" class="btn">Войти</button>
        </form>
        <form>
            <button href="signup/" type="submit" class="btn"><a href="/signup/" class="nav-link">Зарегистрироваться</a>
            </button>
        </form>

{% endblock %}