@font-face {
    font-family: 'Laptev_Brush';
    src: url(../fonts/Laptev_Brush.otf)
}

body {
    height: 130vh;
    margin: auto;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Laptev_Brush', sans-serif;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.form-control {
    height: 40px;
    background: #cdcdcd;
    border: none;
    border-radius: 20px;
    box-shadow: none;
    padding: 0 20px;
    font-size: 20px;
    width: 330px;
    color: #343333;
    transition: all 0.3s ease 0s;
    opacity: 0.7;

}

.btn {
    background: #0a0909;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    border-radius: 30px;
    text-transform: uppercase;
    margin: 10px 0 10px 0;
    font-family: 'Laptev_Brush', sans-serif;
    opacity: 0.7;
}

.comm {
    width: 400px;
    height: 400px;
}

.nav-link {
    color: #ffffff;
}

.nav-link:hover {
    color: #b5b5b5;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease;
    width: 100%;
    background: #0a0909;
    font-size: 25px;
    opacity: 0.7;
    z-index: 5;
}

.navbar-brand {
    font-size: 30px;
}

.social a {
    font-size: 4em;
    padding: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


.navbar-nav {
    margin-right: 100px;

}

.nav-item {
    margin-left: 20px;
}

.reggi {
    margin-top: 100px;
}

.navbar-nav > li {
    display: inline-block;
    position: relative;
}


.navbar-nav > li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: perspective(600px) rotateX(0deg);
}


.dropdown-item {
    color: white;
}

.pet-img {
    height: 180px;
    width: auto;
    align-items: center;
}

#btk {
    width: 50px;
    background: #f3f3f3;
    margin-right: 20px;
}

a {
    color: #343333;
}

a:hover {
    color: #343333;
}

.main {
    margin-top: 80px;
}

fa-edit {
    color: #343333;
}


.pagination > li > a {
    background-color: white;
    color: #343333;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a {
    color: white;
    background-color: #343333 !Important;
    border: solid 1px #343333 !Important;
}

.pagination > .active > a:hover {
    background-color: #343333 !Important;
    border: solid 1px #343333;
}

