{% block content %}
    <nav class="navbar navbar-expand-md ">
        <div class="container-fluid">

            <a href="/" class="navbar-brand">LoGO </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a href="#" class="nav-link"></a>
                    </li>
                    {% if not user.is_authenticated or user.profile.type != 'Moderator' %}
                        <li class="nav-item active">
                            <a href="/pets" class="nav-link">Питомцы</a>
                        </li>
                    {% endif %}
                    {% if not user.is_authenticated or user.profile.type != 'Moderator' %}
                        <li class="nav-item">
                            <a href="/news" class="nav-link">Новости </a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated and user.profile.type != 'Moderator' %}
                        <li class="nav-item">
                            <a href="/tasks" class="nav-link">Задачи</a>
                        </li>
                    {% endif %}
                    {% if not user.is_authenticated %}
                        <li class="nav-item">

                            <a href="/owner/application" class="nav-link">Стать хозяином приюта</a>

                        </li>
                    {% endif %}
                    {% if user.is_authenticated and user.profile.type == 'Moderator' %}
                        <li class="nav-item">
                            <a href="/owner/applications" class="nav-link">Заявки</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <li class="scroll ">
                            <a href="#" class="down">Личный кабинет</a>
                            <ul class="submenu">
                                <li><a href="/logout">Выйти</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if not user.is_authenticated %}
                        <li class="nav-item">
                            <a href="/login" class="nav-link">Войти</a>
                        </li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </nav>

{% endblock %}