{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block content %}
    {% include "includes/navbar.html" %}
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
            <form method="post">
                <h1>Смена пароля</h1>
                <div>
                    <p> {{ form|crispy }}</p>
                </div>
                <span>{{ error }} </span>
                <br>
                <input type="submit" class='btn' value="Сохранить">
            </form>
    </form>
{% endblock %}