{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}
    {% include "includes/navbar.html" %}
        <h1>{{ application.name }} {{ application.surname }}</h1>
        Электронная почта: <p>{{ application.email }}</p>
        Номер телефона: <p>{{ application.phoneNum }}</p>
        Пол: <p>{{ application.get_sex_display }}</p>
        Название приюта: <p>{{ application.title_shelter }}</p>
        Адрес приюта: <p>{{ application.address_shelter }}</p>
        Описание приюта: <p>{{ application.description_shelter }}</p>
        {% for f in files %}
            <p><a href="/download/{{ f.id }}" download>{{ f.get_name }}</a></p>
        {% endfor %}
{% endblock %}