{% extends 'base.html' %}

{% load crispy_forms_filters %}
{% block title %} {{ shelter.title}} {% endblock %}

{% block content %}
    {% include "includes/navbar.html" %}
    <form method="POST">
        {% csrf_token %}
    <div class="feature">
        <br><br>

        <label>
            <input type="text" name="title" class ='form-control' value="{{news.title}}" />
        </label>

        <br><br>

        <label>
            <input type="text" name="anons" class ='form-control' value="{{news.anons}}" />
        </label>

        <br><br>
        <label>
            <input type="text" name="body" class ='form-cont' value="{{news.body}}" />
        </label>

        <br><br>

        <input type="submit" class = 'btn' value="Сохранить" >
    </div>
    </form>
{% endblock %}