{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %} Creation form {% endblock %}

{% block content %}
    {% include "includes/navbar.html" %}
    <div class="container">
        <h1>{{ new.title }}</h1><br>
        {% for image in images %}
            {% if image %}
                <img src='/{{ image }}' class="pet-img" alt="pet img">
            {% endif %}
        {% endfor %}
        <p class="date">
            {{ new.body }}<br>
            {% with comments.count as total_comments %}
                <h2>
                    {{ total_comments }} комментариев
                </h2>
            {% endwith %}
        {% for comment in comments %}
            <div class="comment">
                <p class="info">
                    {{ comment.user }}<br>
                    Тема: {{ comment.title }}


                </p>

                {{ comment.body|linebreaks }}
                {{ comment.dateCreate }} <br>
            </div>
        {% empty %}
            <p>Комментариев еще нет</p>
        {% endfor %}
        {% if new_comment %}
            <h2>Ваш комментарий добавлен</h2>
        {% else %}
            <h2>Добавьте свой комментарий</h2>
            <form action="." method="post">
                {{ comment_form.title|as_crispy_field }}
                <div class="form-comment">
                    {{ comment_form.body|as_crispy_field }}
                </div>
                <br><br>
                {% csrf_token %}
                 <p><input type="button" id="btn_add" class="btn" value="Добавить"></p>
            </form>
        {% endif %}
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Авторизуйтесь в системе</h5>
                </div>
                <div class="modal-body">
                    <p>Для того, чтобы оставить комментарий, авторизуйтесь в системе</p>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $('#btn_add').click(function () {
                $.ajax({
                    type: 'POST',
                    url: '.',
                    data: $('form').serialize(),
                    success: function (data) {
                        if (data.hasOwnProperty('id')) {
                            document.location.reload(true);
                        } else {
                            $('#modal').modal('show');
                        }
                    },
                    error: function (result) {
                        console.log(result);
                    }
                });
            });
        });

    </script>
{% endblock %}