{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}
    {% include "includes/navbar.html" %}
    <div class="main">
        <form enctype="multipart/form-data" method="post">
            Заполните форму и отправьте заявку.
            <br>
            Результаты рассмотрения заявки будут отправлены на указанную почту.
            {% csrf_token %}
            {{ form|crispy }}
            <span>{{ error }} </span>

            <button class="btn" type="submit">Отправить</button>
        </form>
    </div>
{% endblock %}