{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %} Creation form {% endblock %}

{% block content %}
    {% include "includes/navbar.html" %}
    <div class="main">
        <h1>Добавление питомца</h1>
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ form.name|as_crispy_field }}
            {{ form.age|as_crispy_field }}
            {{ form.sex|as_crispy_field }}
            {{ form.type|as_crispy_field }}
            {{ form.color|as_crispy_field }}
            {{ form.wool|as_crispy_field }}
            {{ form.character|as_crispy_field }}
            {{ form.description|as_crispy_field }}
            <span>{{ error }} </span>
            {{ form.images|as_crispy_field }}
            <button class="btn" type="submit">Добавить</button>
        </form>
    </div>
{% endblock %}