{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %} Creation form {% endblock %}

{% block content %}
    <div class="addpetclass">
        <h1>Add pet</h1>
        <form method="post">
            {% csrf_token %}
            {#            {{ form|crispy }}#}
            {{ form.name|as_crispy_field }}
            {{ form.age|as_crispy_field }}
            {{ form.sex|as_crispy_field }}
            {{ form.type|as_crispy_field }}
            {{ form.color|as_crispy_field }}
            {{ form.wool|as_crispy_field }}
            {{ form.character|as_crispy_field }}
            {{ form.description|as_crispy_field }}
            <span>{{ error }} </span>

            <button class="btn" type="submit">Ввод</button>

        </form>


    </div>
{% endblock %}