{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %} Creation form {% endblock %}

{% block content %}
    {% include "includes/navbar.html" %}
    <div class="feature" style="margin-top: 80px">
        {% if apps %}
            {% for el in apps %}
                <div class="inline-group main-group">
                    <div class="column-application">
                        Пользователь: {{ el.user }}
                        <br>
                        Питомец: {{ el.pet }}
                        <br>
                        {{ el.dateCreate }}
                    </div>

                    <div class="column-rest">
                        {% if user.profile.type == 'Owner' %}
                            <a href="applications/applay/{{ el.id }}" id='btk' class="btn"><i class="fas fa-check"></i></a>
                            <br>
                            <a href="applications/reject/{{ el.id }}" id='btk' class="btn"><i class="fas fa-times"></i></a>
                        {% endif %}
                        {% if user.profile.type == 'Client' %}
                            {{ el.get_status_display }}
                        {% endif %}
                    </div>

                </div>
            {% endfor %}
        {% else %}
            <p>У вас еще нет заявок</p>
        {% endif %}

    </div>
{% endblock %}