{% extends 'base.html' %}

{% load crispy_forms_filters %}
{% block title %} {{ shelter.title }} {% endblock %}

{% block content %}
    {% include "includes/navbar.html" %}
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div class="feature" style="margin-top: 100px">
            <br><br>

            <label>
                <input type="text" name="name" class='form-control' value="{{ pet.name }}"/>
            </label>

            <br><br>

            <label>
                <input type="text" name="age" class='form-control' value="{{ pet.age }}"/>
            </label>

            <br><br>
            <label for="floatingSelect"></label><select class="form-select" id="floatingSelect" name="sex" required>
                {% for sex,f_sex in sexes %}
                    {% if pet.sex == sex %}
                        <option selected value="{{ sex }}">{{ f_sex }}</option>
                    {% else %}
                        <option value="{{ sex }}">{{ f_sex }}</option>
                    {% endif %}
                {% endfor %}
            </select>

             <label for="floatingSelect"></label><select class="form-select" id="floatingSelect" name="type" required>
                {% for type,f_type in types %}
                    {% if pet.type == type %}
                        <option selected value="{{ type }}">{{ f_type }}</option>
                    {% else %}
                        <option value="{{ type }}">{{ f_type }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <label for="floatingSelect"></label><select class="form-select" id="floatingSelect" name="color" required>
                {% for color,f_color in colors %}
                    {% if pet.color == color %}
                        <option selected value="{{ color }}">{{ f_color }}</option>
                    {% else %}
                        <option value="{{ color }}">{{ f_color }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <label for="floatingSelect"></label><select class="form-select" id="floatingSelect" name="wool" required>
                {% for wool,f_wool in wools %}
                    {% if pet.wool == wool %}
                        <option selected value="{{ wool }}">{{ f_wool }}</option>
                    {% else %}
                        <option value="{{ wool }}">{{ f_wool }}</option>
                    {% endif %}
                {% endfor %}
            </select>

            <label for="floatingSelect"></label><select class="form-select" id="floatingSelect" name="character" required>
                {% for character,f_character in characters %}
                    {% if pet.character == character %}
                        <option selected value="{{ character }}">{{ f_character }}</option>
                    {% else %}
                        <option value="{{ character }}">{{ f_character }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <br><br>
            <label>
                <textarea class="form-control" name="description" required>{{ pet.description }}</textarea>
            </label>
            <br><br>
            <p><input type="file" name="images" multiple accept="image/*">
                <br><br>
                {% for image in images %}
                    {% if image %}
                        <img src='/{{ image }}' class="pet-img" alt="pet img">
                        <a href="/pet/deleteimages/{{ image.id }}" class="btn">Удалить</a>
                        <br><br>
                    {% endif %}
                {% endfor %}
                <br><br>
                <input type="submit" class='btn' value="Сохранить">
        </div>
    </form>
{% endblock %}