{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block content %}
    {% include "includes/navbar.html" %}
    <div class="main">
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <label for="validationTextarea" class="form-label">Имя питомца</label>
            <br>
            <label>
                <input type="text" name="name" class='form-control' value="{{ pet.name }}"/>
            </label>
            <br>
            <label for="validationTextarea" class="form-label">Возраст питомца</label>
            <br>
            <label>
                <input type="text" name="age" class='form-control' value="{{ pet.age }}"/>
            </label>
            <br>
            <label for="validationTextarea" class="form-label">Пол питомца</label>
            <label for="floatingSelect"></label><select class="form-select" id="floatingSelect" name="sex" required>
            {% for sex,f_sex in sexes %}
                {% if pet.sex == sex %}
                    <option selected value="{{ sex }}">{{ f_sex }}</option>
                {% else %}
                    <option value="{{ sex }}">{{ f_sex }}</option>
                {% endif %}
            {% endfor %}
        </select>
            <label for="validationTextarea" class="form-label">Тип питомца</label>
            <label for="floatingSelect"></label><select class="form-select" id="floatingSelect" name="type" required>
            {% for type,f_type in types %}
                {% if pet.type == type %}
                    <option selected value="{{ type }}">{{ f_type }}</option>
                {% else %}
                    <option value="{{ type }}">{{ f_type }}</option>
                {% endif %}
            {% endfor %}
        </select>
            <label for="validationTextarea" class="form-label">Цвет питомца</label>
            <label for="floatingSelect"></label><select class="form-select" id="floatingSelect" name="color" required>
            {% for color,f_color in colors %}
                {% if pet.color == color %}
                    <option selected value="{{ color }}">{{ f_color }}</option>
                {% else %}
                    <option value="{{ color }}">{{ f_color }}</option>
                {% endif %}
            {% endfor %}
        </select>
            <label for="validationTextarea" class="form-label">Тип шерсти питомца</label>
            <label for="floatingSelect"></label><select class="form-select" id="floatingSelect" name="wool" required>
            {% for wool,f_wool in wools %}
                {% if pet.wool == wool %}
                    <option selected value="{{ wool }}">{{ f_wool }}</option>
                {% else %}
                    <option value="{{ wool }}">{{ f_wool }}</option>
                {% endif %}
            {% endfor %}
        </select>
            <label for="validationTextarea" class="form-label">Характер питомца</label>
            <label for="floatingSelect"></label><select class="form-select" id="floatingSelect" name="character"
                                                        required>
            {% for character,f_character in characters %}
                {% if pet.character == character %}
                    <option selected value="{{ character }}">{{ f_character }}</option>
                {% else %}
                    <option value="{{ character }}">{{ f_character }}</option>
                {% endif %}
            {% endfor %}
        </select>
            <br>
            <label for="validationTextarea" class="form-label">Описание питомца</label>
            <br>
            <label>
                <textarea class="form-control" name="description" required>{{ pet.description }}</textarea>
            </label>
            <br><br>
            <p><input type="file" name="images" multiple accept="image/*">
                <br><br>
                {% for image in images %}
                    {% if image %}
                        <img src='/{{ image }}' class="pet-img" alt="pet img">
                        <a href="/pet/deleteimages/{{ image.id }}" data-bs-toggle="tooltip"
                           data-bs-placement="right"
                           title data-bs-original-title="Удалить изображение"><i class="fas fa-trash-alt"></i></a>
                        <br>
                    {% endif %}
                {% endfor %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="check" id="check" name="check">
                <label class="form-check-label" for="check">
                    Отдать питомца
                </label>
            </div>
            <br>
            <input type="submit" class='btn' value="Сохранить">
        </form>
    </div>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            this.addEventListener('hide.bs.tooltip', function () {
                new bootstrap.Tooltip(tooltipTriggerEl)
            })
            return new bootstrap.Tooltip(tooltipTriggerEl)
        });
    </script>
{% endblock %}