{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %} Creation form {% endblock %}

{% block content %}

 <h1>{{ post.name }}</h1><br>
  <p class="date">
    {{ post.age }}<br>
      {{ post.sex }}<br>
      {{ post.type }}<br>
      {{ post.color }}<br>
      {{ post.character }}<br>
      {{ post.description }}<br>
      {{ post.shelter}}<br>
      {{ post.owner }}<br>
  </p>
  {{ post.body|linebreaks }}<br>
    {% with comments.count as total_comments %}
  <h2>
    {{ total_comments }} comment{{ total_comments|pluralize }}
  </h2>
{% endwith %}
    {% for comment in comments %}
  <div class="comment">
    <p class="info">
     {{ comment.title }}
      {{ comment.dateCreate }} <br>
        {{ comment.user}}
    </p>
  {{ comment.body|linebreaks }}
  </div>
{% empty %}
  <p>There are no comments yet.</p>
{% endfor %}
    {% if new_comment %}
  <h2>Your comment has been added.</h2>
{% else %}
  <h2>Add a new comment</h2>
  <form action="." method="post">
    {{ comment_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Add comment"></p>
  </form>
{% endif %}

{% endblock %}

