{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %} Creation form {% endblock %}

{% block content %}
    {% include "includes/navbar.html" %}
    <div class="feature" style="margin-top: 70px">

        {% if apps %}
            {% for el in apps %}
                <div class="alert alert-warning">
                    Пользователь: {{ el.user }}
                    <br>
                    Питомец: {{ el.pet }}
                    <br>
                    {{ el.dateCreate }}
                    <br>
                    <a href="applications/applay/{{ el.id }}" class="btn">Принять</a>
                    <a href="applications/delete/{{ el.id }}" class="btn">Отклонить</a>

                </div>
            {% endfor %}
        {% else %}
            <p>No apps</p>
        {% endif %}

    </div>
{% endblock %}