{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %} Creation form {% endblock %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href={% static 'css/pets.css' %}>
{% endblock %}
{% block content %}
    {% include "includes/navbar.html" %}
    <div class="main">
        <h1>{{ post.name }}</h1>
        <div class="row row-cols-auto justify-content-md-center">
            {% for image in images %}
                <div class="col-auto">
                    <div class="card h-100 w-70" style="margin-top: 15px">
                        {% if not image == null %}
                            <img src='/{{ image }}' class="pet-img" alt="pet img">
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
        Возраст: {{ post.age }} <br>
        Пол: {{ post.get_sex_display }}<br>
        Цвет: {{ post.get_color_display }}<br>
        Тип шерсти: {{ post.get_wool_display }}<br>
        Характер: {{ post.get_character_display }}<br>
        Описание: {{ post.description }}<br>
        Приют: <a href="#" onclick="openModalShelter()">{{ post.shelter }}</a> <br>
        {% if user.profile.type == 'Client' %}
            <button type="button" onclick="openModal(this)" class="btn"
                    value="{{ post.id }}">Посмотреть питомца
            </button>
        {% endif %}
        <hr>
        {{ post.body|linebreaks }}<br>
        {% if new_comment %}
            <h2>Ваш комментарий добавлен</h2>
        {% else %}
            <h2>Добавьте свой комментарий</h2>
            <form action="." method="post">
                {{ comment_form.title|as_crispy_field }}
                <div class="form-comment">
                    {{ comment_form.body|as_crispy_field }}
                </div>
                <br>
                {% csrf_token %}
                <p><input type="button" id="btn_add" class="btn" style="width: 120px" value="Добавить"></p>
            </form>
        {% endif %}
        {% with comments.count as total_comments %}
            <h2>
                Всего: {{ total_comments }} комментариев
            </h2>
        {% endwith %}
        {% for comment in comments %}
            <div class="comment">
                <p class="info">
                    {{ comment.user }}<br>
                    Тема: {{ comment.title }}
                </p>
                {{ comment.body|linebreaks }}
                {{ comment.dateCreate }} <br>
            </div>
        {% empty %}
            <p>Комментариев еще нет</p>
        {% endfor %}

    </div>
    <div class="modal" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Авторизуйтесь в системе</h5>
                </div>
                <div class="modal-body">
                    <p>Для того, чтобы оставить комментарий, авторизуйтесь в системе</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="modal_shelter">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Приют {{ post.shelter.title }}</h5>
                </div>
                <div class="modal-body">
                    Хозяин приюта: {{ post.shelter.user.first_name }} {{ post.shelter.user.last_name }}
                    <br>
                    Контактный номер: {{ post.shelter.user.phoneNum }}
                    <br>
                    Адрес приюта: {{ post.shelter.address }}
                    <br>
                    {{ post.shelter.description }}
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="modal_message">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Ваша заявка успешно отправлена. Можете уточнить ее статус в разделе "Мои заявки"</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="modal_data">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Причина отклонения</h5>
                </div>
                <div class="modal-body">
                    <input id="modal_id" value="" hidden>
                    <p>Выберите дату, когда сможете посмотреть питомца</p>
                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                        <input type="text" id="dateViewing" class="form-control datetimepicker-input"
                               data-target="#datetimepicker1"/>
                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="ok">Отправить</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function openModal(button) {
            var id = button.getAttribute("value");
            $('#modal_id').val(id);
            $('#modal_data').modal('show');
        }

        function openModalShelter() {
            $('#modal_shelter').modal('show');
        }

        $(function () {
            $('#btn_add').click(function () {
                $.ajax({
                    type: 'POST',
                    url: '.',
                    data: $('form').serialize(),
                    success: function (data) {
                        if (data.hasOwnProperty('id')) {
                            document.location.reload(true);
                        } else {
                            $('#modal').modal('show');
                        }
                    },
                    error: function (result) {
                        console.log(result);
                    }
                });
            });
        });

        $(function () {
            $("#datetimepicker1").datetimepicker({
                format: 'YYYY-MM-DD HH:mm',
            });
        });


        $('#ok').click(function () {
            var id = $("#modal_id").val();
            var response = $("#dateViewing").val();
            console.log(id)
            console.log(response)
            $.ajax({
                type: 'GET',
                url: '/create_application/' + id + '/' + response,
                data: {},
                dataType: 'json',
                success: function () {
                    $('#dateViewing').val(null);
                    $('#modal_data').modal('hide');
                    $('#modal_message').modal('show');
                },
                error: function (result) {
                    alert(result);
                }
            });
        });
    </script>
{% endblock %}

