{% extends 'base.html' %}

{% load crispy_forms_filters %}
{% block title %} Creation form {% endblock %}

{% block content %}
{% include "includes/navbar.html" %}

<div class = "pow">
    <h1 class = "title">Наши питомцы</h1>


  {% for el in apps %}

        <div class = "column">
        <div class = "style">
    <h2>
      <a href="{{ el.get_url }}">
       {{ el.name }}
      </a>
    </h2>
    <p class="date">
      Возраст: {{ el.age}} год


    </p>
      <p class="date">
      Пол: {{ el.get_sex_display}}


    </p>
        </div>
        </div>

  {% endfor %}
</div>

{% endblock %}