{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block content %}
    {% include "includes/navbar.html" %}
    <div class="main">
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <label for="validationTextarea" class="form-label">Название задачи</label>
            <br>
            <label>
                <input type="text" name="title" class='form-control' value="{{ task.title }}"/>
            </label>
            <br>
            <label for="validationTextarea" class="form-label">Содержание задачи</label>
            <br>
            <label>
                <textarea class="form-control" name="body" required>{{ task.body }}</textarea>
            </label>
            <br>
            <label for="validationTextarea" class="form-label">Дата выполнения: </label>
            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                <label>
                    <input type="text" name="dateExpiration" class="form-control datetimepicker-input"
                           data-target="#datetimepicker1"
                           value={{ task.dateExpiration }}/>
                </label>
                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
            <br>
            <p><input type="file" name="images" multiple accept="image/*">
                <br><br>
                {% for image in images %}
                    {% if image %}
                        <img src='/{{ image }}' class="pet-img" alt="pet img">
                        <a href="/task/deleteimages/{{ image.id }}" data-bs-toggle="tooltip"
                           data-bs-placement="right"
                           title data-bs-original-title="Удалить изображение"><i class="fas fa-trash-alt"></i></a>
                        <br>
                    {% endif %}
                {% endfor %}
                <input type="submit" class='btn' value="Сохранить">
        </form>
    </div>
    <script>
        $(function () {
            $("#datetimepicker1").datetimepicker({
                format: 'YYYY-MM-DD HH:mm',
            });
        });

        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            this.addEventListener('hide.bs.tooltip', function () {
                new bootstrap.Tooltip(tooltipTriggerEl)
            })
            return new bootstrap.Tooltip(tooltipTriggerEl)
        });
    </script>
{% endblock %}